<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="http://www.appsvillage.mobi/favicon.ico">

  <title>AppsVillage Email Unsubscribe</title>

</head>

<body>
  <div id="fb-root"></div>

  <!-- Fixed navbar -->
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="brand-link w-nav-brand">
          <img class="nav-logo" src="./assets/images/web-logo1.png">
        </a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li><a href="https://www.facebook.com/AppsVillage-1502043186788548" target="_blank" class="social-item facebook">&nbsp;</a></li>

          <li><a href="https://twitter.com/ApplicsVillage" class="social-item twitter">&nbsp;</a></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </nav>

  <div class="container">

    <!-- Main component for a primary marketing message or call to action -->
    <div class="jumbotron">
      <br>
      <br>
      <br>
      <h3 class="text-center">האם אתה בטוח שאתה רוצה לבטל את ההרשמה להודעות דוא"ל עתידיות?</h3>

      <div class="text-center">
        <button id="unsub" type="button" class="btn btn-primary" (click)="unsubscribe($event);">בטל הרשמה</button>
      </div>
    </div>

  </div> <!-- /container -->
</body>
</html>
