<div class="container-fluid ">
  <div class="row">
    <div class="col-2 box-left">
      <nav class="navbar navbar-expand-md">
        <div class="collapse navbar-collapse menu" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item dropdown active">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Dropdown link
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <li>
                  <a class="dropdown-item dropdown-toggle" href="#">Submenu</a>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Submenu <span>1</span></a></li>
                    <li><a class="dropdown-item" href="#">Another <span>2</span></a></li>
                  </ul>
                </li>
                <li>
                  <a class="dropdown-item dropdown-toggle" href="#">Submenu</a>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Submenu <span>2</span></a></li>
                    <li><a class="dropdown-item" href="#">Another <span>1</span></a></li>
                  </ul>
                </li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Dropdown link
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <li>
                  <a class="dropdown-item dropdown-toggle" href="#">Submenu</a>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Submenu <span>3</span></a></li>
                    <li><a class="dropdown-item" href="#">Another <span>2</span></a></li>
                  </ul>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </nav>
    </div>
    <div class="col-6 box-center">
      <div class="centerbox-content">
        <div class="content-head">
          <h4 class="cnt-head">Title</h4>
          <div class="head-icon">
            <button type="button" class="head-btn"><i class="fa fa-times" aria-hidden="true"></i></button>
            <button type="button" class="head-btn head-txt-btn"><i class="fa fa-file-o" aria-hidden="true"></i> text</button>
            <button type="button" class="head-btn"><i class="fa fa-pencil" aria-hidden="true"></i></button>
            <button type="button" class="head-btn head-txt-btn green"><i class="fa fa-floppy-o" aria-hidden="true"></i> text</button>
            <button type="button" class="head-btn head-txt-btn orange"><i class="fa fa-trash-o" aria-hidden="true"></i> text</button>
            <button type="button" class="head-btn head-txt-btn"><i class="fa fa-calculator" aria-hidden="true"></i> text</button>
            <button type="button" class="head-btn"><i class="fa fa-comments-o" aria-hidden="true"></i></button>
            <button type="button" class="head-btn head-txt-btn"><i class="fa fa-file-pdf-o" aria-hidden="true"></i> text</button>
            <button type="button" class="head-btn"><i class="fa fa-files-o" aria-hidden="true"></i></button>
          </div>
        </div>
        <div class="content-body">
          <div class="block-top">
            <label class="label-text">Lorem Ipsum</label>
            <input type="text" class="fill-here date-input">
            <label class="label-text">Lorem</label>
            <input type="text" class="fill-here date-input">
            <button type="button" class="btn-icon"><i class="fa fa-eraser" aria-hidden="true"></i></button>
            <button type="button" class="btn-icon"><i class="fa fa-bars" aria-hidden="true"></i></button>
          </div>
          <div class="block-left">
            <div class="row form-group">
              <label class="col-5 label-text">Lorem Ipsum</label>
              <div class="col-7">
                <input type="text" class="fill-here date-input">
              </div>
            </div>
            <div class="row form-group">
              <label class="col-5 label-text">Lorem</label>
              <div class="col-7">
                <select class="select-box">
                  <option value="0">1</option>
                  <option value="1">2</option>
                </select>
              </div>
            </div>
            <div class="row form-group">
              <label class="col-5 label-text">Lorem Ipsum</label>
              <div class="col-7">
                <input type="text" class="fill-here date-input">
              </div>
            </div>
            <div class="row form-group">
              <label class="col-5 label-text">Lorem</label>
              <div class="col-7">
                <input type="text" class="fill-here">
              </div>
            </div>
            <div class="row form-group">
              <label class="col-5 label-text">Lorem Ipsum</label>
              <div class="col-7">
                <input type="text" class="fill-here date-input">
              </div>
            </div>
            <div class="row form-group">
              <label class="col-5 label-text">Lorem</label>
              <div class="col-7">
                <input type="text" class="fill-here">
              </div>
            </div>
            <div class="row form-group">
              <label class="col-5 label-text">Lorem</label>
              <div class="col-7">
                <input type="text" class="fill-here">
              </div>
            </div>
            <div class="row form-group">
              <label class="col-5 label-text">Lorem</label>
              <div class="col-7">
                <input type="text" class="fill-here">
              </div>
            </div>
            <div class="row form-group">
              <label class="col-5 label-text">Lorem</label>
              <div class="col-7">
                <select class="select-box">
                  <option value="0">1</option>
                  <option value="1">2</option>
                </select>
              </div>
            </div>
            <div class="row form-group">
              <label class="col-5 label-text">Lorem</label>
              <div class="col-7">
                <input type="text" class="fill-here">
              </div>
            </div>
            <div class="row form-group">
              <label class="col-5 label-text">Lorem</label>
              <div class="col-7">
                <input type="text" class="fill-here">
              </div>
            </div>
            <div class="row form-group">
              <label class="col-5 label-text">Lorem</label>
              <div class="col-7">
                <input type="text" class="fill-here">
              </div>
            </div>
            <div class="row form-group">
              <label class="col-5 label-text">Lorem</label>
              <div class="col-7">
                <input type="text" class="fill-here">
              </div>
            </div>
          </div>
          <div class="block-right">
            <div class="row form-group">
              <label class="col-5 label-text">Lorem</label>
              <div class="col-7">
                <select class="select-box">
                  <option value="0">1</option>
                  <option value="1">2</option>
                </select>
              </div>
            </div>
            <div class="row form-group">
              <label class="col-5 label-text">Lorem Ipsum</label>
              <div class="col-7">
                <input type="text" class="fill-here date-input">
              </div>
            </div>
            <div class="row form-group">
              <label class="col-5 label-text">Lorem</label>
              <div class="col-7">
                <select class="select-box">
                  <option value="0">1</option>
                  <option value="1">2</option>
                </select>
              </div>
            </div>
            <div class="row form-group">
              <label class="col-5 label-text">Lorem</label>
              <div class="col-7">
                <input type="text" class="fill-here">
              </div>
            </div>
            <div class="row form-group">
              <label class="col-5 label-text">Lorem</label>
              <div class="col-7">
                <input type="text" class="fill-here">
              </div>
            </div>
            <div class="row form-group">
              <label class="col-5 label-text">Lorem</label>
              <div class="col-7">
                <input type="text" class="fill-here readable-input">
                <button type="button" class="btn-icon"><i class="fa fa-search" aria-hidden="true"></i></button>
              </div>
            </div>
            <div class="row form-group">
              <label class="col-5 label-text">Lorem</label>
              <div class="col-7">
                <select class="select-box">
                  <option value="0">1</option>
                  <option value="1">2</option>
                </select>
              </div>
            </div>
            <div class="row form-group">
              <label class="col-5 label-text">Lorem</label>
              <div class="col-7">
                <input type="text" class="fill-here">
              </div>
            </div>
            <div class="row form-group">
              <label class="col-5 label-text">Lorem</label>
              <div class="col-7">
                <input type="text" class="fill-here">
              </div>
            </div>
            <div class="row form-group">
              <label class="col-5 label-text">Lorem Ipsum</label>
              <div class="col-7">
                <input type="text" class="fill-here date-input">
              </div>
            </div>
            <div class="row form-group">
              <label class="col-5 label-text">Lorem</label>
              <div class="col-7">
                <input type="text" class="fill-here">
              </div>
            </div>
            <div class="row form-group">
              <label class="col-5 label-text">Lorem</label>
              <div class="col-7">
                <input type="text" class="fill-here">
              </div>
            </div>



          </div>
        </div>
      </div>
    </div>
    <div class="col-4 box-right">
      <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item">
          <a class="nav-link  active" href="#profile" role="tab" data-toggle="tab" aria-selected="true">profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#buzz" role="tab" data-toggle="tab">buzz</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#references" role="tab" data-toggle="tab">references</a>
        </li>
      </ul>
      <!-- Tab panes -->
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="profile">
          <div class="tab-left">
            <div class="row form-group">
              <label class="col-5 label-text">Lorem</label>
              <div class="col-7">
                <input type="text" class="fill-here readable-input">
              </div>
            </div>
            <div class="row form-group">
              <label class="col-5 label-text">Lorem</label>
              <div class="col-7">
                <input type="text" class="fill-here readable-input">
              </div>
            </div>
            <div class="row form-group">
              <label class="col-5 label-text">Lorem</label>
              <div class="col-7">
                <input type="text" class="fill-here readable-input">
              </div>
            </div>
            <div class="row form-group">
              <label class="col-5 label-text">Lorem</label>
              <div class="col-7">
                <input type="text" class="fill-here readable-input">
              </div>
            </div>
          </div>
          <div class="tab-right">
            <button type="button" class="btn-common">Lorem Ipsum</button>
            <button type="button" class="btn-common"><i class="fa fa-file-pdf-o" aria-hidden="true"></i>  Lorem ipsum</button>
            <button type="button" class="btn-common"><i class="fa fa-refresh" aria-hidden="true"></i> Lorem ipsum</button>
          </div>
        </div>
        <div role="tabpanel" class="tab-pane fade" id="buzz">bbb</div>
        <div role="tabpanel" class="tab-pane fade" id="references">ccc</div>
      </div>
    </div>
  </div>
</div>
