<div class="con_box">
  <h3>Change Password</h3>
</div>

<div class="con_box">
  <div class="sterilization_box box_mid">



    <!--<div class="sterilization_box_in">
      <div class="row">
        <div class="col-md-6 operator_form">
          <form [formGroup]="ChangePasswordForm">
            <div class="sterilization_col col_full">
              <div class="module_form_label"><label>Old Password</label></div>
              <div class="module_form_feild"><input type="password" placeholder="" formControlName="OldPassword" />
                <label class="text-danger" *ngIf="ChangePasswordForm.get('OldPassword').touched && ChangePasswordForm.get('OldPassword').invalid">* Old Password is required</label>
              </div>
             
            </div>
            <div class="sterilization_col col_full">
              <div class="module_form_label"><label>New Password</label></div>
              <div class="module_form_feild"><input type="password" placeholder="" formControlName="NewPassword" pattern="(?=^.{8,}$)(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?!.*\s)[0-9a-zA-Z!@#$%^&*()]*$"/>
                <label class="text-danger" *ngIf="ChangePasswordForm.get('NewPassword').touched && ChangePasswordForm.get('NewPassword').value==null || ChangePasswordForm.get('NewPassword').value==''">* New Password is required</label>
                <label class="text-danger" *ngIf="ChangePasswordForm.get('NewPassword').touched && ChangePasswordForm.get('NewPassword').invalid && ChangePasswordForm.get('NewPassword').hasError('pattern')">* Password must contain atleast One Capital letter, one Special Character and One Number.</label>
              </div>
             

            </div>
            <div class="sterilization_col col_full">
              <div class="module_form_label"><label>Confirm Password</label></div>
              <div class="module_form_feild"><input type="password" placeholder="" formControlName="ConfirmPassword" />
                <label class="text-danger" *ngIf="ChangePasswordForm.get('ConfirmPassword').touched && ChangePasswordForm.get('ConfirmPassword').invalid">* Confirm Password is required</label>
              </div>
             
            </div>
            <div class="sterilization_col col_full">
                <label class="text-danger" *ngIf="showmismatcherror">* New Password and Confirm Password should be same</label>
            </div>
          
          </form>

        </div>

      </div>

      <div class="page_form_btn">
        <button href="#" class="page_btn" (click)="ChangePasswordForm.reset()">Cancel</button>
        <button class="page_btn"  (click)="ChangePassword()"> Save </button>
      </div>

    </div>-->
  </div>
</div>
