.operator_form {
  margin: 0px auto
}

.module_form_feild input[type="password"] {
  width: 100%;
  border: 1px solid #ccc;
  font-size: 16px;
  color: #8d9a9f;
  padding: 6px 15px;
  height: 42px;
  border-radius: 5px;
}
.page_btn  { margin-left: 10px }