<!--<p>
  add-appointment works!
</p>
<div id="myModalpopup" class="modal fade" role="dialog">
  <div class="modal-dialog">


    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Modal Header</h4>
      </div>
      <div class="modal-body">
        <ul class="form-top-list">
          <li class="active"><i class="fa fa-trash" aria-hidden="true"></i><span>Delete</span></li>
          <li><i class="fa fa-trash" aria-hidden="true"></i><span>Delete</span></li>
          <li><i class="fa fa-trash" aria-hidden="true"></i><span>Delete</span></li>
          <li><i class="fa fa-trash" aria-hidden="true"></i><span>Delete</span></li>
          <li><i class="fa fa-trash" aria-hidden="true"></i><span>Delete</span></li>
        </ul>
        <div class="form-content-top">
          <div class="all-buttons">
            <button type="button" class="btn btn-info m-l10"><i class="fa fa-floppy-o" aria-hidden="true"></i> Save</button>
            <button type="button" class="btn btn-info m-l10"><i class="fa fa-refresh" aria-hidden="true"></i> Update</button>
            <button type="button" class="btn btn-info m-l10"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit</button>
            <button type="button" class="btn btn-info"><i class="fa fa-trash" aria-hidden="true"></i> Delect</button>
          </div>
          <div class="form-group">
            <label class="label-txt">First</label>
            <div class="field-name">
              <input type="text" placeholder="first name" />
            </div>
          </div>
          <div class="form-group">
            <label class="label-txt">First</label>
            <div class="field-name">
              <input type="text" placeholder="first name" />
            </div>
          </div>
          <div class="form-group">
            <label class="label-txt">First</label>
            <div class="field-name">
              <input type="text" placeholder="first name" />
            </div>
          </div>
          <div class="form-group">
            <label class="label-txt">First</label>
            <div class="field-name">
              <input type="text" placeholder="first name" />
            </div>
          </div>
          <div class="form-group">
            <label class="label-txt">First</label>
            <div class="field-name">
              <input type="text" placeholder="first name" />
            </div>
          </div>
          <div class="form-group">
            <label class="label-txt">First</label>
            <div class="field-name">
              <div class="date-box">
                <div class="field-split">
                  <input type="date" class="date" />
                </div>
                <div class="field-split">
                  <input type="date" class="date" />
                </div>
              </div>
              <div class="select-box">
                <div class="select-split">
                  <select>
                    <option value="0">Please select</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                  </select>
                </div>
                <div class="select-split">
                  <select>
                    <option value="0">Please select</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                  </select>
                </div>
              </div>
              <div class="checbox-top">
                <input type="checkbox" name="checkbox" value="checkbox">All Day Event
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

    -->


<div class="modal-header">
  <h4 class="modal-title">Modal Title</h4>
  <button type="button" class="close" aria-label="Close"
          (click)="closeModal()"></button>
</div>
<div class="modal-body">
  <p>My modal content</p>
</div>
<div class="modal-footer">
  <button (click)="closeModal()">
    Close Clicked
  </button>
</div>
