<!DOCTYPE html>
<html>
<head>
  <title>Registration form</title>
 
</head>
<body dir="rtl">
  <div class="main-block">
    <div class="left-part">
      <i class="fas fa-graduation-cap"></i>
      <h1 style="color:aqua">Register with us</h1>
      <p>שתף את המידע שלך לתגובה המהירה</p>
      <!--<div class="btn-group">
        <a class="btn-item" href="https://www.w3docs.com/learn-html.html">Learn HTML</a>
        <a class="btn-item" href="https://www.w3docs.com/quiz/#">Select Quiz</a>
      </div>-->
    </div>

    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">

      <div class="title">
        <i class="fas fa-pencil-alt"></i>
        <h2 style="color:white;">רשמו מידע נוסף כאן</h2>
      </div>
      <div class="info">
        <div class="form-group">
          <input formControlName="firstName" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" class="fname" type="text" name="name" placeholder="שם מלא">
          <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
            <div *ngIf="f.firstName.errors.required">נדרש שם פרטי</div>
          </div>
        </div>

        <div class="form-group">
          <input formControlName="email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" type="text" name="email" placeholder="דואל">
          <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
            <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
              <div *ngIf="f.email.errors.required">Email is required</div>
              <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
            </div>
          </div>
        </div>


        <div class="form-group">
          <input formControlName="mobile" [ngClass]="{ 'is-invalid': submitted && f.mobile.errors }" type="text" name="name" placeholder="מספר טלפון">
          <div *ngIf="submitted && f.mobile.errors" class="invalid-feedback">
            <div *ngIf="f.mobile.errors.required">חובה לנייד</div>
          </div>
        </div>
        <div class="form-group">
          <textarea formControlName="note" cols="30" rows="10" ng-model="f.mobile.note" type="text" name="name" placeholder="הודעה"></textarea>

        </div>
      </div>
     
      <button type="submit" href="/">שלח</button>
    </form>
  </div>
</body>
</html>
