/*ul li {
  float: left;
  width: 40px;
}*/

/*.bardiv {
  width: 2px;  
  position: absolute;
  right: 0;
  height: 100%;
}
.showtime-preview:hover .bardiv {
  width: 5px;
}

.devendra {
  display: block !important;
}
.dx-scheduler-appointment-content {
  padding: 0px 7px;
  font-size: 13px;
}*/
