<router-outlet></router-outlet>
<div class="modal fade success_modal" tabindex="-1" role="dialog" id="successmessage">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-body">
        <div class="success_box">
          <span class="success_icon"><i class="fa fa-check"></i></span>
          <p id="successtext"></p>
        </div>
      </div>

    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>
<div class="modal fade success_modal" tabindex="-1" role="dialog" id="errormessage">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-body">
        <div class="success_box">
          <span class="error_icon"><i class="fa fa-times"></i></span>
          <p id="errortext"></p>
        </div>
      </div>

    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>
<div class="modal fade success_modal" tabindex="-1" role="dialog" id="warnmessage">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-body">
        <div class="success_box">
          <span class="warn_icon"><i class="fa fa-warning"></i></span>
          <p id="warningtext"></p>
        </div>
      </div>

    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>

<!--<ngx-spinner bdColor="rgba(64,164,204,0.8)"
             size="large"
             color=""
             type="timer"></ngx-spinner>-->
