
    <div  [ng2-loading]="showSpinner" class="login_section" [formGroup]="forgotPasswordForm">
     <div class="logo"><a href="#"><img src="assets/images/web-logo1.png" alt=""/></a></div>
     <div class="form_box">
       <label>כתובת אימייל רשומה</label>
      <input style="text-align:center;"  dir="ltr" type="text" formControlName="Username"/>
      <label class="text-danger" *ngIf="forgotPasswordForm.get('Username').touched &&  forgotPasswordForm.get('Username').value==null">*חובה לקלוט כתובת אימייל</label>
     </div>
     

     <div class="form_box">
       <button class="blue_btn" (click)="reset()">אתחל ססמא</button>
     </div>
    
    </div>
    <p class="copy">&copy; כל הזכויות שמורות להוצאת עו"ד משה טרם בע"מ</p>
