<header class="header">
  <div class="container-fluid ">
  
    <div class="web_logo">
      <a href="#"><img src="/assets/images/web-logo1.png" alt=""></a>
    </div>
    <div class="web_menu">

      <ul>
        <li><a href="#">שלום :{{name}} </a></li>
        <!--<li><a href="#">פרופיל</a></li>

    <li><a href="#"><i class="fa fa-bell"></i><span class="noti_f">2</span></a></li>
    <li><a href="#">עזרה <i class="fa fa-question-circle"></i></a></li>-->
        <li><a href="#" style="color:orangered;" onclick="Logout()">התנתק</a></li>
      </ul>
      <h2 class="header-title">יומן היכל המשפט בענן </h2>
    </div>
  </div>
</header>
